
body {
    margin: 0;
    padding: 0;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow:  0 0 6px rgba(0, 0, 0, 0.3);*/
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
    /*-webkit-box-shadow:  0 2px 3px rgba(0, 0, 0, 0.5);*/
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0, 0, 0, 0.1);
}

#root {

    height: 100vh;
    display: flex;
}

@font-face {
    font-family: 'Chewy';
    src: url('../fonts/Chewy.eot');
    src: url('../fonts/Chewy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Chewy.woff') format('woff'),
    url('../fonts/Chewy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


input, button, textarea, body {
    font-family: Chewy,"Open Sans", "Helvetica Neue", Helvetica, "Open Sans";

}

* {
    outline: none;
    user-select: none;
}

body {
    -webkit-app-region: drag;
    background-color: #009688;
}

body::after {
    content: "";
    background: url('../images/background.jpg');
    opacity: 0.1;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

input, textarea {

    background-color: rgba(0, 0, 0, 0.04);
    padding: 20px;
    border-radius: 13px;
    border: 0px solid rgba(0, 0, 0, 0.3);
    font-size: 80px;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    /*text-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);*/
    box-shadow: inset 0 4px 10px rgba(0, 0, 0, 0.1);
    resize: none;

}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.39) !important;
    text-shadow: none;
}

textarea {

    font-size: 40px;
    text-transform: none;

}

button {
    padding: 4px;
    border-radius: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    font-size: 24px;
    /*font-weight: bold;*/
    margin-top: 5px;
    background: linear-gradient(#fff, #f4f4f4);
    /*text-transform: uppercase;*/
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #444;

    box-shadow: inset 0 2px 0 #fff;
    background: #fafafa;
    background: linear-gradient(to bottom, #fafafa 0, #f5f5f5 50%, #ececec 50%, #e7e7e7 100%);
    border: 2px solid #d2d2d2;
    color: #222;
    text-shadow: 2px 2px 0 #fff;

    box-shadow: inset 0 2px 0 #fff, 2px 2px 20px rgba(0,0,0,0.1);
}

button.info {
    /*box-shadow: inset 0 2px 0 rgba(150, 242, 22, 0.8);*/
    /*background: #fafafa;*/
    /*background: linear-gradient(to bottom, #8ce215 0, #82d214 50%, #71b711 50%, #65a40f 100%);*/
    /*border-color: #71b711;*/
    /*color: #fff;*/
    /*text-shadow: 0 1px 0 #65a40f;*/
}

button.success {
    /*box-shadow: inset 0 2px 0 rgba(255, 255, 51, 0.6);*/
    /*background: #fafafa;*/
    /*background: linear-gradient(to bottom, #fbd223 0, #fbcc0d 50%, #f4b600 50%, #efaa00 100%);*/
    /*border-color: #e59900;*/
    /*color: #7e5d00;*/
    /*text-shadow: 0 1px 0 #ff3;*/
}

button:hover {

    animation-name: rubberBand;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 19px;
    padding-left: 0px;
    line-height: 50px !important;
    color: #333;
    font-weight: normal;
    text-transform: none;
    text-shadow: 0 1px 2px #fff;
}

.radioContainer {
    clear: both;
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100%;
}

/* hide input */
input.radio:empty {
    margin-left: -9999px;
}

/* style label */
input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    /*margin-top: 2em;*/
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.radio ~ label:before {
    border-radius: 40px;
    height: 20px;
    width: 20px;
    margin: 15px;
    margin-left: 25px;
    border: none !important;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: #fff;
    border-color: #ececec;
    transition: all 0.3s ease-in-out;

}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
    content: '';
    text-indent: .9em;
}

input.radio:hover:not(:checked) ~ label {
}

/* toggle on */
input.radio:checked ~ label:before {
    content: '';
    text-indent: .9em;
    background: linear-gradient(#8ce215, #79c412);
    /*box-shadow:  0 1px 2px rgba(0, 0, 0, 0.5);*/
    border-color: #ececec;

}

input.radio:checked ~ label {
}

