/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}


#root {

    height: 100vh;
    display: flex;
}

body {

    background-color: #276740;
    /*background: url('https://0.s3.envato.com/files/171533992/Jump_Game_Background_1024x512.jpg') ;*/
    background-size: cover;
    background-repeat: no-repeat;
}

input,textarea {

    background-color: rgba(244, 244, 244, 0.56);
    padding: 20px;
    border-radius: 20px;
    border: 4px solid #333;
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

}

button {
    padding: 15px;
    border-radius: 20px;
    border: 4px solid #333;
    font-size: 40px;
    font-weight: bold;
    margin-top: 5px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
